main {
    padding-top: 60px;
    overflow: hidden;
    min-height: 100vh;
    padding-bottom: 100px;
}
.banner {
    min-width: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    min-height: 62%;
    max-height: 100%;
}
.slides {
    display: flex;
    align-items: flex-end;
}
